.cardPeople {
  margin: 50px 0;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height: 330px;
  width: 23%;
  border-radius: 10px;

  h1 {
    font-weight: 700;
    margin: 20px 0;
    font-size: 30px;
  }
  p {
    padding-top: 5px;
    font-size: 20px;
  }
  button {
    margin-top: 40px;
    font-size: 20px;
    color: #ff9916;
    border: none;
    background-color: white;
    border-bottom: 1px solid #ff9916;
    font-weight: 500;
  }
}
